{
  "extends": ["eslint:recommended"],
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {"browser": true, "es6": true},
  "rules": {
    "no-constant-condition":"off",
    "semi":2
  }
}